.event {
    position: relative;
    border: 2px dashed black;
    padding: 8px;
    border-radius: 4px;
}

.title {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: uppercase;
}

.info {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--color-primary-text);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.icon {
    display: block;
    /* height: 20px; */
    margin-right: 8px;
    color: var(--color-secondyry-text)
}

.chip {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
}

.free {
    border-color: var(--color-green);
}

.pay {
    border-color: var(--color-blue);
}

.vip {
    border-color: var(--color-red);
}